@{
    ViewBag.Title = "About";
}

<!-- Card with an image on top -->
<div class="card">
    <div class="col-sm-2 mx-auto d-block">
        <img src="~/Images/about.png" alt="Contact" class="card-img-top img-thumbnail rounded mb-3">
    </div>
    
    <div class="card-body text-center">
        <h5 class="card-title">Internship Recommendation System</h5>
        <p class="card-text">
            You are now accessing the <text class="text-primary">"Internship Recommendation System"</text>.
            In this application you are able to either enter your Internship Expereinces or Get New Company Recommendations based on Past Expereinces from Students around the Country.
        </p>        
    </div>
</div>
<!-- End Card with an image on top -->